<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap mp uap5 uap3">

  <Identity
    Name="Richasy.Bili"
    Publisher="CN=richasy"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="1c288bc0-72f3-4c4c-90ad-a05b52e937b0" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>哔哩</DisplayName>
    <PublisherDisplayName>云之幻</PublisherDisplayName>
    <Logo>Assets\Logo\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.18362.0" MaxVersionTested="10.0.22000.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="App.App">
      <uap:VisualElements
        DisplayName="ms-resource:AppName"
        Square150x150Logo="Assets\Logo\Square150x150Logo.png"
        Square44x44Logo="Assets\Logo\Square44x44Logo.png"
        Description="ms-resource:AppDescription"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Logo\Wide310x150Logo.png" ShortName="ms-resource:AppName" Square71x71Logo="Assets\Logo\SmallTile.png" Square310x310Logo="Assets\Logo\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\Logo\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap5:Extension Category="windows.startupTask">
          <uap5:StartupTask DisplayName="ms-resource:AppName" Enabled="false" TaskId="Richasy.Bili"/>
        </uap5:Extension>
        <uap5:Extension Category="windows.appExecutionAlias"
                        Executable="Bili.Uwp.App.exe"
                        EntryPoint="Bili.Uwp.App.App">
          <uap5:AppExecutionAlias>
            <uap5:ExecutionAlias Alias="Bili.exe" />
          </uap5:AppExecutionAlias>
        </uap5:Extension>
        <uap:Extension Category="windows.protocol" EntryPoint="App.App">
          <uap:Protocol Name="richasy-bili">
            <uap:DisplayName>哔哩</uap:DisplayName>
            <uap:Logo>Assets\Bili_rgba_80.png</uap:Logo>
          </uap:Protocol>
        </uap:Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="Bili.Tasks.DynamicNotifyTask">
          <BackgroundTasks>
            <Task Type="timer"/>
            <Task Type="pushNotification"/>
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <uap3:Capability Name="backgroundMediaPlayback"/>
    <uap:Capability Name="picturesLibrary"/>
    <Capability Name="privateNetworkClientServer"/>
  </Capabilities>
</Package>