html {
    padding: 0;
    overflow: auto;
    width: 90vw;
    max-width: 700px;
    margin: 0 auto;
}

body {
    margin: 0 auto;
    color: #2c3e50;
    padding-top: 30px;
    padding-bottom: 30px;
}

figcaption {
    display: block;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.25;
    display: block;
}

video {
    width: 100%;
    max-width: 100% !important;
    height: auto !important;
    text-align: center;
    display: block;
    margin: 0 auto;
}

iframe {
    max-width: 100%;
    text-align: center;
    display: block;
    margin: 0 auto;
}

h1 {
    font-size: 1.5rem;
    margin: 0 0 .5rem 0;
}

button {
    background-color: #5473E8;
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 13px;
    border-radius: 3px;
    transition: all .2s;
    margin-top: 8px;
    margin-bottom: 8px;
}

    button:hover {
        background-color: #2940B0;
    }

h2 {
    font-size: 1.4rem;
    padding-bottom: .3rem;
    border-bottom: 1px solid #eaecef;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1rem;
}

img {
    max-width: 100% !important;
    height: auto !important;
    text-align: center;
    display: block;
    margin: 0 auto;
}

ol, p, ul {
    line-height: 1.7;
}

ol, ul {
    padding-left: 1.2rem;
}

li {
    margin-left: .5rem;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin: 1rem 0;
}

p {
    display: block;
    margin: 0.5rem 0;
    text-indent: 2em;
}

    a, p a code {
        color: #5b309f;
    }

a {
    font-weight: 500;
    text-decoration: none;
}

hr {
    height: 0.1rem;
    border: 0;
    color: #CCCCCC;
    background-color: #CCCCCC;
    overflow: hidden;
}

mark {
    background-color: #CEFDD0;
    color: #000;
    font-style: italic;
}

code, pre {
    border-radius: .2rem;
    background-color: #F8F8F8;
    color: inherit;
}

code {
    border: 1px solid #EAEAEA;
    margin: 0 .1rem;
    padding: 0 .4rem;
}

pre {
    border: 1px solid #CCCCCC;
    line-height: 1.25;
    overflow: auto;
    padding: .5rem .8rem;
    white-space: pre-wrap;
    word-wrap: break-word
}

    pre > code {
        border: 0;
        margin: 0;
        padding: 0;
        background: transparent;
    }

table {
    width: 100%;
    margin-bottom: 1.3rem;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

blockquote {
    padding: .8rem 1rem;
    border-left-style: solid;
    border-left-width: 10px;
    border-color: #D6DBDF;
    background: none repeat scroll 0 0 rgba(102,128,153,.05);
    margin-left: 0
}

table th, table td {
    padding: .5rem;
    line-height: 1.3;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin: 0;
}

tbody > tr:nth-child(2n+1) > td, tbody > tr:nth-child(2n+1) > th {
    background-color: rgba(102,128,153,.05);
}

.footnote-item {
    font-style: italic;
    font-size: .9rem;
    margin-left: .6rem;
}

.tip {
    background-color: #f3f5f7;
    border-color: #42b983;
    padding: .1rem 1.5rem;
    border-left-width: .5rem;
    border-left-style: solid;
    margin: 1rem 0;
}

.warning {
    background-color: rgba(255,229,100,.3);
    border-color: #e7c000;
    color: #6b5900;
    padding: .1rem 1.5rem;
    border-left-width: .5rem;
    border-left-style: solid;
    margin: 1rem 0;
}

.danger {
    background-color: #ffe6e6;
    border-color: #c00;
    color: #4d0000;
    padding: .1rem 1.5rem;
    border-left-width: .5rem;
    border-left-style: solid;
    margin: 1rem 0;
}

#content_progress {
    /* Positioning */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    color: #5473E8;
}

    #content_progress::-webkit-progress-bar {
        background-color: transparent;
    }

    #content_progress::-webkit-progress-value {
        background-color: #5473E8;
    }

    #content_progress::-moz-progress-bar {
        background-color: #5473E8;
    }
